<!-- this component has responsive navigation  -->
<nav class="navbar navbar-expand-lg navbar-dark bg-theme">
  <a class="navbar-brand"
    href="#">COVID-19</a>
  <button class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse"
    id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link "
          routerLink="/overview"
          routerLinkActive="active">
          Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/descriptive"
          routerLinkActive="active">
          Descriptive Analysis</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"
          routerLink="/helpline"
          routerLinkActive="active">
          Helpline</a>
      </li>
    </ul>

  </div>
  <div class="ml-auto">
    <span class="navbar-text">
      Stay Home, Stay Safe!
    </span>
  </div>
</nav>
